#imagem-supra.{}
principal{
    background-color: black;
    color: aqua;
}

.principal{
    background-color: blue;
    color: aqua;
}

.rodape{
        background-color: brown;
        color: black;
        text-align: center;
}